<!-- BEGIN BASE-->
<div id="base">

    <!-- BEGIN CONTENT-->
    <div id="content">
        <section>
            <div class="section-body">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-md-offset-2">

                        <div class="card">
                            <div class="card-head style-primary">
                                <header>Create New Coupon</header>
                            </div>
                            <div class="card-body padding">
                                <form class="form">

                                    <div class="alert alert-warning" ng-show="auth[0].role[0].id === 2">
                                        <strong>Cảnh báo!</strong> Thực hiện tạo coupon mới sẽ xóa tất cả những Coupon của shop đã
                                        tạo trước đó.
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3 col-sm-6">
                                            <div class="form-group">
                                                <label for="shop">Shop</label>
                                                <select id="shop" class="form-control" ng-model="name.shop_info[0].shop_name" ng-options="name.shop_info[0].shop_name for name in shop_result"
                                                    ng-if="auth[0].role[0].id === 1" ng-change="get_shop(name.shop_info[0].shop_name)"></select>
                                                <input type="text" class="form-control" ng-model="shop_detail_id" ng-if="auth[0].role[0].id === 2" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="cval" ng-model="data.value">
                                                <label for="cval">Giá Trị (VNĐ)</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="form-group">
                                                <input type="number" class="form-control" id="shopboss" ng-model="data.quantity">
                                                <label for="shopboss">Số Lượng</label>
                                            </div>
                                        </div>
										<div class="col-md-3 col-sm-6">
                                            <div class="form-group">
                                                <input type="number" class="form-control" id="point" ng-model="data.point">
                                                <label for="point">Điểm Quy Đổi</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3 col-sm-6">
                                            <div class="form-group">
                                                <select id="selectc" name="selectc" class="form-control" ng-model="data.class">
                                                    <option value="4">Thường</option>
                                                    <option value="3">Bạc</option>
                                                    <option value="2">Vàng</option>
                                                    <option value="1">Bạch Kim</option>
                                                </select>
                                                <label for="selectc">Hạng Thành Viên</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <form class="form">
                                                <div class="form-group">
                                                    <select id="enday" name="enday" class="form-control" ng-model="enday">
                                                        <option value="3">3 Tháng</option>
                                                        <option value="6">6 Tháng</option>
                                                        <option value="9">9 Tháng</option>
                                                        <option value="1">1 Năm</option>
                                                    </select>
                                                    <label>Ngày Hết Hạng</label>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <form class="form">
                                                <div class="form-group text-center">
                                                    <div class="input-group-addon">
                                                        <div class="checkbox checkbox-inline checkbox-styled">
                                                            <label>
                                                                <input type="checkbox" ng-model="checked2">
                                                                <span></span>
                                                            </label>
                                                            <label>Khách Hàng Thân Thiết</label>
                                                        </div>
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <form class="form">
                                                <div class="form-group text-center">
                                                    <div class="input-group-addon">
                                                        <div class="checkbox checkbox-inline checkbox-styled">
                                                            <label>
                                                                <input type="checkbox" ng-model="checked">
                                                                <span></span>
                                                            </label>
                                                            <label>Yêu Cầu Feedback</label>
                                                        </div>
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="info">Thông Tin Coupon</label>
                                                <textarea name="info" id="info" class="form-control" rows="5" placeholder="" ng-model="data.info"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <div class="text-center">
                                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#waiting" ng-click="c_cuopon(data)">
                                        Tạo Coupon
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<div id="waiting" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Tạo Coupon Mới</h4>
            </div>

            <div class="modal-body text-center">
                <div ng-show="!error">
                    <div class="loader" ng-show="!ok"></div>
                    <h3 ng-show="ok">Coupon đã được tạo thành công</h3>
                </div>
                <div class="alert alert-warning" ng-show="error">
                    <strong>Cảnh báo!</strong> Các trường phải được nhập đầy đủ để tạo Coupon mới.
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="_reload()">Đồng Ý</button>
            </div>
        </div>
    </div>
</div>

<!-- BEGIN JAVASCRIPT -->

<script src="assets/js/core/demo/DemoFormComponents.js"></script>
<script src="assets/js/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>

<script>
    $('.ran').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: "dd/mm/yyyy",
    })

    document.getElementById("cval").onkeyup = function () {
        if (document.getElementById("cval").value != 0) {
            this.value = parseFloat(this.value.replace(/,/g, ""))
                .toFixed()
                .toString()
                .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
    }

    // function onTestChange() {
    //     var key = window.event.keyCode;

    //     if (key === 13) {
    //         document.getElementById("info").value = document.getElementById("info").value + "<br>";
    //         return false;
    //     }
    //     else {
    //         return true;
    //     }
    // }
</script>