<style>
    #menubar {
        display: none;
    }

    #header {
        display: none;
    }
</style>
<!-- BEGIN LOGIN SECTION -->
<section class="section-account">
    <div class="img-backdrop" style="background-image: url('https://i.imgur.com/MYQTCnm.jpg')"></div>
    <div class="spacer"></div>
    <div class="card contain-sm style-transparent">
        <!-- <div class="card-body">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <br />
                    <span class="text-lg text-bold text-primary">COUPON 10K ADMIN</span>
                    <br />
                    <br />
                    <div class="alert alert-warning" ng-show="_error_login">
                        <strong>Cảnh báo!</strong> Tài khoản của bạn hiện đang bị khóa liên hệ Admin để được hỗ trợ!
                    </div>

                    <div class="alert alert-warning" ng-show="_error_reg">
                        <strong>Cảnh báo!</strong> Tài khoản của bạn chưa được đăng ký!
                    </div>

                    <div class="alert alert-danger" ng-show="_error_role">
                        <strong>Cảnh báo!</strong> Trang quản trị chỉ dành cho quản lý shop!
                    </div>

                    <button fb-login type="button" class="btn ink-reaction btn-primary" ng-show="_face">
                        <i class="fa fa-facebook-f" style="margin-right: 10px;"></i>
                        Đăng Nhập Facebook</button>
                </div>
              
                <div class="col-sm-3"></div>
            </div>
          
        </div> -->

        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <span class="text-lg text-bold text-primary">TRANG QUẢN TRỊ DÀNH CHO CỬA HÀNG</span>
                    <br><br>
                    <div class="alert alert-warning" ng-show="_error_login">
                        <strong>Cảnh báo!</strong> Tài khoản của bạn hiện đang bị khóa liên hệ Admin để được hỗ trợ!
                    </div>

                    <div class="alert alert-warning" ng-show="_error_reg">
                        <strong>Cảnh báo!</strong> Tài khoản của bạn chưa được đăng ký!
                    </div>

                    <div class="alert alert-danger" ng-show="_error_role">
                        <strong>Cảnh báo!</strong> Trang quản trị chỉ dành cho quản lý shop!
                    </div>

                    <!-- <button fb-login type="button" class="btn ink-reaction btn-primary"> -->
                        <!-- <i class="fa fa-facebook-f" style="margin-right: 10px;"></i> -->
                        <!-- Đăng Nhập Facebook</button> -->
						
					<div class="row">
						  <div class="col s8 offset-s2">
							
								<div id="customBtn" g-login class="customGPlusSignIn">
								  <span class="icon"></span>
								   <a class="buttonText" type="button">
								   Sign in with Google
								   </a>
								</div>
						  
						  </div>
						  
						  <div class="col s8 offset-s2">
							
								<!-- <div id="customBtn2" fb-login class="customGPlusSignIn">
								  <i class="fa fa-facebook icon2 fa-2x" aria-hidden="true"></i>
								   <a class="buttonText2" type="button">
								   Login with Facebook
								   </a>
                                </div> -->
                                
                                <div class="fb-login-button" data-size="large" data-width="372" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="true"></div>
								
						  </div>
					 </div>
                </div>
                <!--end .col -->
                <div class="col-sm-5 col-sm-offset-1 text-center">
                    <blockquote style="font-size: 15.25px; border-left: 5px solid darkgray;">
                        <p class="text-left">Trang quản trị chỉ dành cho Chủ Shop nên ngoại trừ Chủ Shop thì những User khác sẽ không có quyền truy cập.</p>
                        <footer>Lưu ý đăng nhập</footer>
                    </blockquote>
                </div>
                <!--end .col -->
            </div>
            <!--end .row -->
        </div>

        <!--end .card-body -->
    </div>
    <!--end .card -->
</section>
<!-- END LOGIN SECTION -->