<!-- BEGIN BASE-->
<div id="base">

    <!-- BEGIN CONTENT-->
    <div id="content">
        <section>
            <div class="section-body">
                <div class="row">

                    <!-- BEGIN ALERT - REVENUE -->
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <div class="card-body no-padding">
                                <div class="alert alert-callout alert-info no-margin ink-reaction">
                                    <strong class="text-success text-xl">
                                        <i class="md md-home"></i>
                                        <span>{{shop_result.length}}</span>
                                    </strong>
                                    <br/>
                                    <span class="opacity-50">Tổng Số Shop</span>
                                    <div class="stick-bottom-left-right">
                                        <div class="height-2 sparkline-revenue" data-line-color="#bdc1c1"></div>
                                    </div>
                                </div>
                            </div>
                            <!--end .card-body -->
                        </div>
                        <!--end .card -->
                    </div>
                    <!--end .col -->
                    <!-- END ALERT - REVENUE -->

                    <!-- BEGIN ALERT - VISITS -->
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <div class="card-body no-padding">
                                <div class="alert alert-callout alert-warning no-margin ink-reaction">
                                    <strong class="text-warning text-xl">
                                        <i class="md md-grade"></i>
                                        {{shop_vip.length}}
                                    </strong>
                                    <br/>
                                    <span class="opacity-50">Shop Vip</span>
                                    <div class="stick-bottom-right">
                                        <div class="height-1 sparkline-visits" data-bar-color="#e5e6e6"></div>
                                    </div>
                                </div>
                            </div>
                            <!--end .card-body -->
                        </div>
                        <!--end .card -->
                    </div>
                    <!--end .col -->
                    <!-- END ALERT - VISITS -->

                    <!-- BEGIN ALERT - BOUNCE RATES -->
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <div class="card-body no-padding">
                                <div class="alert alert-callout alert-info no-margin ink-reaction">
                                    <strong class="text-info text-xl">
                                        <i class="md md-dashboard"></i>
                                        {{shop_normal.length}}
                                    </strong>
                                    <br/>
                                    <span class="opacity-50">Shop Thường</span>
                                </div>
                            </div>
                            <!--end .card-body -->
                        </div>
                        <!--end .card -->
                    </div>
                    <!--end .col -->
                    <!-- END ALERT - BOUNCE RATES -->

                    <!-- BEGIN ALERT - TIME ON SITE -->
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <div class="card-body no-padding">
                                <div class="alert alert-callout alert-success no-margin ink-reaction">
                                    <strong class="text-danger text-xl">
                                        <i class="md md-warning"></i>
                                        {{shop_top.length}}
                                    </strong>
                                    <br/>
                                    <span class="opacity-50">Shop Dừng Hoạt Động</span>
                                </div>
                            </div>
                            <!--end .card-body -->
                        </div>
                        <!--end .card -->
                    </div>
                    <!--end .col -->
                    <!-- END ALERT - TIME ON SITE -->
                </div>

                <div class="row">

                    <div class="col-lg-12">
                        <button type="button" class="btn btn-block ink-reaction btn-primary" ng-click="go_to_shop()">Tạo Shop Mới</button>
                        <div class="table-responsive alert alert-callout no-margin tbaction" style="overflow-x:unset;">
                            <table datatable="" ng-if="shop_result" dt-options="dtOptions" class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Tên Shop</th>
                                        <th>Hạng</th>
                                        <th>Ví</th>
                                        <th>Shop Coupon</th>
                                        <th>Server Coupon</th>
                                        <th>Use Coupon</th>
                                        <th>Loại</th>
                                        <th>Trạng Thái</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="content in shop_result">
                                        <td>{{content.shopId}}</td>
                                        <td>{{content.shop_info[0].shop_name}}</td>
                                        <td>
                                            <span ng-show="content.shop_rank[0].id === 0">{{content.shop_rank[0].name}} </span>
                                            <button type="button" class="btn btn-warning" ng-show="content.shop_rank[0].id === 1">
                                                {{content.shop_rank[0].name}}
                                            </button>
                                        </td>
                                        <td>{{content.wallet}}</td>
                                        <td>{{content.shop_coupon.length}}</td>
                                        <td>{{content.server_coupon.length}}</td>
                                        <td>{{content.shop_use_coupon.length}}</td>
                                        <td>{{content.shop_info[0].kind[0].name}}</td>
                                        <td>
                                            <span ng-show="content.shop_status[0].id === 0" class="text-danger">{{content.shop_status[0].name}}</span>
                                            <span ng-show="content.shop_status[0].id === 1" class="text-success">{{content.shop_status[0].name}}</span>
                                        </td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-success ink-reaction" ng-click="go_update_shop(content._id)">
                                                <i class="md md-mode-edit"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--end .table-responsive -->
                        <!-- END DATATABLE 1 -->
                    </div>
                </div>
            </div>
            <!--end .section-body -->
        </section>
    </div>
    <!--end #content-->
    <!-- END CONTENT -->

</div>
<!--end #base-->
<!-- END BASE -->

<!-- Modal -->
<div id="myModal2" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                <h4 class="modal-title">Create New Shop</h4>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <form class="form">

                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="shopId">
                                    <label for="shopId">Shop ID</label>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="shopboss">
                                    <label for="shopboss">Chủ Shop ID</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="shopmanager">
                                    <label for="shopmanager">Quản lý ID</label>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="shopbossId">
                                    <label for="actionId">Shop Name</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-head style-primary">
                                        <header>Upload Album</header>
                                    </div>
                                    <div class="card-body no-padding">
                                        <form>
                                            <div id="my-awesome-dropzone" class="dropzone">
                                                <div class="dz-message">
                                                    <h3>Kéo thả ảnh hoặc chọn ảnh để upload.
                                                        <br>
                                                        <i class="md md-cloud-upload"></i>
                                                    </h3>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                    <!--end .card-body -->
                                </div>
                                <!--end .card -->
                            </div>
                            <!--end .col -->
                        </div>


                    </form>
                </div>
                <!--end .card-body -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="create_shop($files)">
                    Create
                </button>
            </div>
        </div>

    </div>
</div>