<!-- BEGIN HEADER-->
<header id="header" ng-controller="HomeCtrl">
	<div class="headerbar">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="headerbar-left">
			<ul class="header-nav header-nav-options">
				<li class="header-nav-brand ink-reaction">
					<div class="brand-holder">
						<a href="">
							<span class="text-lg text-bold text-primary">COUPON 10K ADMIN</span>
						</a>
					</div>
				</li>
				<li>
					<a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
						<i class="fa fa-bars"></i>
					</a>
				</li>
			</ul>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="headerbar-right">
			<!--end .header-nav-options -->
			<ul class="header-nav header-nav-profile">
				<li class="dropdown">
					<a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
						<img src="{{auth[0].user_img}}" alt="" />
						<span class="profile-info text-primary" style="padding-top:7px">
							<i class="fa fa-circle {{isToken === false ? 'accessTokenFalse' : 'accessToken'}}" aria-hidden="true"></i> {{auth[0].info[0].fulname}}
							<small class="text-danger" style="margin-top:5px">{{auth[0].role[0].name}}</small>
						</span>
					</a>
					<ul class="dropdown-menu animation-dock">
						<!-- <li ng-if="auth[0].role[0].id === 1"> -->
						
							<!-- <a href=""> -->
								<!-- <i class="fa fa-circle {{isToken === false ? 'accessTokenFalse' : 'accessToken'}}" aria-hidden="true"></i> -->
								<!-- AccessToken -->
							<!-- </a> -->
						<!-- </li> -->
						<!-- <li>
							<a href="">My profile</a>
						</li>
						<li class="divider"></li> -->
						<li>
							<a href="" ng-click="go_login()">
								<i class="fa fa-fw fa-power-off text-danger"></i> Logout</a>
						</li>
					</ul>
					<!--end .dropdown-menu -->
				</li>
				<!--end .dropdown -->
			</ul>
			<!--end .header-nav-profile -->
		</div>
		<!--end #header-navbar-collapse -->
	</div>
</header>
<!-- END HEADER-->