<!-- BEGIN MENUBAR-->
<div id="menubar" class="menubar-inverse" ng-controller="HomeCtrl">
	<div class="menubar-scroll-panel">

		<!-- BEGIN MAIN MENU -->
		<ul id="main-menu" class="gui-controls" ng-if="auth[0].role[0].id === 1">

			<!-- BEGIN DASHBOARD -->
			<li>
				<a href="javascript:void(0);" data-toggle="menubar" ng-click="go_home()">
					<div class="gui-icon">
						<i class="md md-home"></i>
					</div>
					<span class="title">Dashboard</span>
				</a>
			</li>
			<!--end /menu-li -->
			<!-- END DASHBOARD -->

			<!-- BEGIN EMAIL -->
			<li>
				<a href="javascript:void(0);" data-toggle="menubar" ng-click="go_action()">
					<div class="gui-icon">
						<i class="md md-group-work"></i>
					</div>
					<span class="title">Quản Lý Tác Vụ</span>
				</a>
			</li>
			<!--end /menu-li -->
			<!-- END EMAIL -->

			<!-- BEGIN DASHBOARD -->
			<li>
				<a href="javascript:void(0);" data-toggle="menubar" ng-click="go_shop()">
					<div class="gui-icon">
						<i class="md md-web"></i>
					</div>
					<span class="title">Quản Lý Shop</span>
				</a>
			</li>
			<!--end /menu-li -->
			<!-- END DASHBOARD -->

			<!-- BEGIN UI -->
			<li>
				<a href="javascript:void(0);" data-toggle="menubar" ng-click="go_user()">
					<div class="gui-icon">
						<i class="fa fa-puzzle-piece fa-fw"></i>
					</div>
					<span class="title">Quản Lý Thành Viên</span>
				</a>
			</li>
			<!--end /menu-li -->
			<!-- END UI -->

			<!-- BEGIN TABLES -->
			<li>
					<a href="javascript:void(0);" data-toggle="menubar" ng-click="go_basic()">
						<div class="gui-icon">
							<i class="fa fa-cart-arrow-down"></i>
						</div>
						<span class="title">Quản Lý Mã Giảm Giá</span>
					</a>
				</li>
				<!--end /menu-li -->
				<!-- END TABLES -->

			<!-- BEGIN TABLES -->
			<li>
				<a href="javascript:void(0);" data-toggle="menubar" ng-click="go_coupon()">
					<div class="gui-icon">
						<i class="fa fa-table"></i>
					</div>
					<span class="title">Quản Lý Coupon</span>
				</a>
			</li>
			<!--end /menu-li -->
			<!-- END TABLES -->

			<!-- BEGIN TABLES -->
			<li>
				<a href="javascript:void(0);" data-toggle="menubar" ng-click="go_data_coupon()">
					<div class="gui-icon">
						<i class="fa fa-database"></i>
					</div>
					<span class="title">Coupon Data</span>
				</a>
			</li>
			<!--end /menu-li -->
			<!-- END TABLES -->

		</ul>
		<!--end .main-menu -->
		<!-- END MAIN MENU -->

		<!-- shop menu -->
		<ul id="main-menu" class="gui-controls" ng-if="auth[0].role[0].id === 2">
			<li>
				<a href="javascript:void(0);" data-toggle="menubar" ng-click="go_manager()">
					<div class="gui-icon">
						<i class="md md-home"></i>
					</div>
					<span class="title">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0);" data-toggle="menubar" ng-click="go_shop_coupon()">
					<div class="gui-icon">
						<i class="fa fa-table"></i>
					</div>
					<span class="title">Quản Lý Coupon</span>
				</a>
			</li>
		</ul>
		<!-- end shop menu-->

		<!-- BEGIN JAVASCRIPT -->
		<script src="assets/js/libs/jquery/jquery-1.11.2.min.js"></script>
		<script src="assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
		<script src="assets/js/core/source/App.js"></script>
		<script src="assets/js/core/source/AppNavigation.js"></script>
		<script src="assets/js/core/source/AppOffcanvas.js"></script>
		<script src="assets/js/core/source/AppCard.js"></script>
		<script src="assets/js/core/source/AppForm.js"></script>
		<script src="assets/js/core/source/AppNavSearch.js"></script>
		<script src="assets/js/core/source/AppVendor.js"></script>
		<script src="assets/js/core/demo/Demo.js"></script>
		<!-- END JAVASCRIPT -->